#help {
	.cell {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		width: 100%;
		padding: 10px 16px;
		overflow: hidden;
		color: #323233;
		font-size: 14px;
		line-height: 24px;
		background-color: #fff;
	}
}

#help /deep/ {
}
