#save {}

.head {
    background-color: #fff;
    display: flex;
    padding: 10px;

    .head-img {
        width: 80px;
        height: 80px;
        border-radius: 4px;
        overflow: hidden;

        .img {
            width: 100%;
            height: 100%;
        }
    }

    .img-none {
        width: 80px;
        height: 80px;
        border-radius: 4px;

        .uploader {
            position: relative;
            margin-right: 15px;
            margin-bottom: 10px;
            width: 100%;
            padding-bottom: 100%;
            background-size: cover;
            background-position: 50%;
            border-radius: 4px;
            overflow: hidden;
            background-color: rgba($color: #000000, $alpha: 0.2);

            .icons {
                position: absolute;
                left: calc(50% - 16px);
                top: calc(50% - 15px);
            }
        }
    }
}

.footbtn {
    padding: 10px;

    .btn {
        color: rgb(255, 255, 255);
        background: rgb(66, 137, 219);
        border-color: rgb(66, 137, 219);
        // font-size: 14px;
        border-radius: 2px;
    }
}

.user-info {

    .title-f {
        padding: 10px;
        font-size: 14px;
    }

    .cu-form-group .title {
        min-width: calc(4em + 15px);
    }
}

.placeholder {
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 14px;

    &.color {
        color: #000000;
    }
}

.radio-box {
    flex: 1;
}

#save /deep/ {
    .blue {
        margin-right: 10px;

        .uni-radio-input {
            margin-right: 5px;
        }
    }
}