*{box-sizing: border-box;}
#telLogin {
	padding: 20px;
	#tel-box{
		#input-box{
			background-color: #FFF;
			padding: 20rpx;
			flex: 1;
			margin-right: 20rpx;
		}
		display: flex;
		justify-content: space-between;
		
		.btn{
			margin: 0 !important;
		}
		padding-bottom: 30rpx;
	}
}


#telLogin /deep/ {
	.popup{
		background: #FFF;
		padding: 20rpx;
	}
}
