* {
    box-sizing: border-box;
}

#telLogin {
    height: 100vh;
    display: flex;
    flex-direction: column;

    height: 100vh;

    .block {
        display: block;
        width: 100%;
    }

    .head-box {
        display: flex;
        align-items: center;
        padding: 40px 0;
        flex-direction: column;
        background-color: #4289db;

        img {
            border-radius: 100%;
            width: 80px;
            display: block;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
        }

        .title {
            font-size: 16px;
            margin-top: 20px;
            color: #ffffff;
        }
    }

    .form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        background-color: #ffffff;
        padding: 20px;


        button {
            line-height: normal;
            padding: 10px 15px;
            height: auto;
            background-color: #4289db;
            color: #fff;
            font-size: 14px;
            box-shadow: 0 0 10px rgba($color: #4289db, $alpha: 0.3);
            border-radius: 0;
        }

        .input-box {
            display: flex;
            margin-bottom: 10px;
            width: 100%;

            input {
                background-color: #f1f1f1;
                padding: 10px 15px;
                flex: 1;
                line-height: normal;
                height: auto;
                font-size: 14px;
                border-radius: 0;
                color: #333;
            }

            button {
                margin-left: 10px;
            }
        }
    }



    .return-box {

        width: 100%;
        font-size: 14px;
        padding: 10px 0;

        .return-text {
            text-decoration: underline;
        }
    }

}


#telLogin /deep/ {
    .popup {
        background: #FFF;
        padding: 20rpx;
    }
}